.navbar{

	border-radius: 0px;
	margin-bottom: 0px;
	border-bottom: solid 2px #DFDFDF;
}

.form-control{

	background-color: #f3f3f6;
}

.quitarfloat{

	float: none;
}

.btn-success{

	box-shadow: 0 3px 0 0 #398439;
}

.btn-danger{

	box-shadow: 0 3px 0 0 #d43f3a;
}

.btn-primary{

	box-shadow: 0 3px 0 0 #1b5dab;
}