
	/********** navbar-styles **********/

	.panel-default:hover{
		box-shadow: rgb(150,150,150) 3px 3px 10px;
		
	}

	.panel-heading:hover{
		border-radius: 0px 0px 5px 5px;
	}

	.panel-heading{
		border-radius: 0px 0px 5px 5px;
	}

	body{
		margin-top: 60px;
		background-image: url('../img/figuras_fondo.png');
	}

	.navbar{
		border-radius: 0px;
		margin-bottom: 0px;
		border-bottom: solid 2px #dfdfdf;
		background-color: #668933;
	}

	.navbar-default .navbar-nav>li>a{
	    color: #fff;
	    font-size: 12px;
	}

	.navbar-default .navbar-nav>li>a:hover{
		background: rgba(255, 255, 255,0.1);
	    color: #fff;
	}

	.navbar-default .navbar-nav>li>a.ingresar{
	    color: #ff9800;
	    font-size: 14px;
	    text-decoration: underline;
	    font-weight: bolder;
	}

	.navbar-default .navbar-nav>li>a.ingresar:hover{
	    color: #ff9800;
	    font-size: 14px;
	    background-color: transparent;
	    text-decoration: underline;
	}

	.navbar-brand{
	   	padding: 0px;
	}

  	.navbar-brand>img{
	    height: 100%;
	    width: auto;
	    margin-left: 10px;
	    padding: 5px 14px;
  	}

  	.navbar-default .navbar-toggle .icon-bar{
  		background-color: #fff;
  	}

  	.navbar-default .navbar-toggle {
    	border-color: #ddd;
	}
  	

  	.registro{
  		margin-right: 20px;
	  	margin-top: 15px;
	  	padding-left: 10px;
	  	padding-right: 10px;
	  	margin-left: 3px;
	  	font-size: 12px;
  	}

  	.inicia{
  		text-decoration: underline;
  		font-weight: bold;
  	}
	/********** navbar-styles **********/



	/******** carousel-slides ********/
	.item{
		background-image: url('../img/figuras_fondo.png');
	}

	.carousel{
		border-bottom: solid 2px #dfdfdf;
	}
	/******** carousel-slides ********/

	

	/******** home ********/
	.repeat{
		background-image: url('../img/Cintillo.png');
		background-color: #668933;
		height: 40px; 
		border-bottom: solid 2px #dfdfdf;
	}

	label{
		font-size: 14px;
		font-weight: bold;
	}

	.form-control{
		background-color: #f3f3f6;
	}

	textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
	    -webkit-box-shadow: inset 0 -2px 0 #7fa57b;
	    box-shadow: inset 0 -2px 0 #7fa57b;
	}	

	.close{
		color:#fff !important;
	}

	.quitarfloat{
		float: none;
		margin-top: 55px;
	}

	.form-control-feedback{
		margin-top: 10px;
	}

	.error{
		color: red; 
		margin:0px; 
		padding: 0px;"
	}

	.contra{
		text-align: right;
		margin-bottom: 10px;
	}

	.exp{

		color: #fff;
		max-width: 50%;
		height: 40px;
		background-color: #668933;
		margin-bottom: 20px;
		border-radius: 5px;
		margin-top: 1px;
	}

	footer{
		border-top: solid 1px #dfdfdf;
		background-color: #668933;
		height: auto;
	}
	/******** home ********/

	/* footer social icons */
	ul.social-network {
		list-style: none;
		display: inline;
		margin-left:0 !important;
		padding: 0;
	}
	ul.social-network li {
		display: inline;
		margin: 0 5px;
	}

	/* footer social icons */
	.social-network a.icoFacebook:hover {
		background-color:#3B5998;
	}
	.social-network a.icoInstagram:hover {
		background-color:#cd486b;
	}
	.social-network a.icoTwitter:hover {
		background-color:#33ccff;
	}
	.social-network a.icoYouTube:hover {
		background-color:#e81b1b;
	}
	.social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoInstagram:hover i,
	.social-network a.icoYouTube:hover i {
		color:#fff;
	}
	a.socialIcon:hover, .socialHoverClass {
		color:#44BCDD;
	}

	.social-circle li a {
		display:inline-block;
		position:relative;
		margin:0 auto 0 auto;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		border-radius:50%;
		text-align:center;
		width: 50px;
		height: 50px;
		font-size:20px;
	}
	.social-circle li i {
		margin:0;
		line-height:50px;
		text-align: center;
	}

	.social-circle li a:hover i, .triggeredHover {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms--transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		-ms-transition: all 0.2s;
		transition: all 0.2s;
	}
	.social-circle i {
		color: #fff;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		-o-transition: all 0.8s;
		-ms-transition: all 0.8s
	}

	/******** responsive ********/
	@media screen and (max-width: 900px){

	.navbar-default .navbar-nav>li>a{
	    font-size: 10px;
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.navbar-default .navbar-nav>li>a.ingresar{
	    color: #ff9800;
	    font-size: 10px;
	    text-decoration: underline;
	    font-weight: bolder;
	}

	.navbar-default .navbar-nav>li>a.ingresar:hover{
	    color: #ff9800;
	    font-size: 10px;
	    background-color: transparent;
	    text-decoration: underline;
	}

	.registro{
	  	margin-top: 18px;
	  	padding-left: 10px;
	  	padding-right: 10px;
	  	margin-left: 3px;
	  	font-size: 10px;
  	}
		
	}
	/******** responsive ********/

	.btn-success {
    box-shadow: rgb(150,150,150) 3px 3px;
	}

	a:hover, a:focus {
		text-decoration: none;
	}

	.aside{

		text-align: left;
	}

	.panel-primary>.panel-heading {
    color: #fff;
    background-color: #668933;
    border-color: #dddddd;
    border-radius: 5px 5px 0px 0px;
    border-bottom: solid 3px #dfdfdf; 
	}

	


	

	

	


	










